<h2>Bem-vindo ao desafio técnico da Finti</h2>
<p class="font-lg mt-3 mb-6 text-justify">
  Este desafio técnico convida você a desenvolver uma aplicação utilizando Ruby on Rails, onde o objetivo principal é criar um sistema de cadastro de pessoas. A aplicação deve permitir que usuários insiram informações pessoais, como nome, sobrenome, sexo, data de nascimento e número de celular, com campos obrigatórios para garantir a completude dos dados. Além disso, a interface deve ser estilizada com Bootstrap, proporcionando uma experiência visual moderna. Após o cadastro, o sistema deverá verificar se a pessoa possui idade suficiente para votar e identificar a qual estado do país o número de celular pertence, utilizando um mapeamento de DDD. O backend da aplicação será suportado por um banco de dados PostgreSQL, e o projeto completo deverá ser disponibilizado no GitHub, com instruções para execução.
</p>
<%= link_to 'Iniciar', people_path, class: 'mt-3 btn btn-lg mx-auto btn-primary text-uppercase p-3 w-25 fw-bold' %>
